
  .spacer {
    flex: 1 1 auto;
  }
  
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Añadir un poco de espacio alrededor del contenido */
    background-color: rgb(220, 220, 220);
  }
  