.example-card {
  max-width: 300px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.full-width-icon {
  font-size: 15rem;
  display: block;
  text-align: center;
  line-height: normal;
}

mat-card-content p {
  margin: 5px 0;
}

.mat-mdc-card-content {
  padding: 16px 16px;
}

.mat-card-header {
  margin-bottom: 16px;
}

.mat-mdc-card-actions {
  display: block !important;
}

/* Efecto de zoom en hover */
.example-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
