.example-card {
    max-width: 300px;
  }
  
  .full-width-icon {
    font-size: 15rem;
    display: block;
    text-align: center;
    line-height: normal;
  }
  
  mat-card-content p {
    margin: 5px 0;
  }