<mat-card class="example-card" appearance="outlined">

      <mat-card-header class="mat-card-header">
              <mat-card-title>{{ nombre }}</mat-card-title>
              <mat-card-subtitle>{{ apellidos }}</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>
  

      <i class="bi bi-person-badge full-width-icon"></i>

  
    <mat-card-content>
      <p><strong>Email:</strong></p>
      <p>{{ email }}</p>
      <p><strong>Empleado actual:</strong></p>
      <p>{{ currentEmployee ? 'Sí' : 'No' }}</p>
      <p><strong>Última actualización:</strong></p>
      <p>{{ lastUpdate | date:'short' }}</p>
    </mat-card-content>
  
    <mat-card-actions>
      <div class="row w-100">
        <div class="col-auto ms-auto">
          <button mat-flat-button>Open</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
  