<mat-toolbar class="mat-toolbar fixed-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <a class="navbar-brand" href="/home">
          <img src="\assets\logo_MSEH_V2.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="col">
        <span>MSEH</span>
        <a href="/home" mat-button>Inicio</a>
        <a href="/test_view" mat-button>Tests</a>
        <a href="/users" mat-button>Administrar Usuarios</a>
      </div>
      <div class="col-auto">
        <span>Bienvenido {{ username }}</span>
      </div>
      <div class="col-auto">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToProfile()"><i class="bi bi-person"></i> Mi Perfil</button>
          <button mat-menu-item (click)="logout()"><i class="bi bi-box-arrow-right"></i> Logout</button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
