<mat-toolbar class="mat-toolbar fixed-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <a class="navbar-brand" href="/home">
          <img src="https://contacrece.com/img/000_logoicon.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="col">
        <span>Skill App</span>
        <a href="/home" mat-button>Inicio</a>
        <a href="/test_view" mat-button>Tests</a>
        <a href="/users" mat-button>Administrar Usuarios</a>
      </div>
      <div class="col-auto">
        <span>Bienvenido {{ username }}</span>
      </div>
      <div class="col-auto">
        <div class="dropdown">
          <button mat-icon-button class="person-icon" aria-label="icon-button with person icon" type="button" data-bs-toggle="dropdown">
            <mat-icon>person</mat-icon>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" href="#"><i class="bi bi-person"></i> Mi Perfil</button></li>
            <li><button (click)="logout()" class="dropdown-item" type="submit"><i class="bi bi-box-arrow-right"></i> Logout</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
