/* Estilo para la barra de navegación */


/* Estilo para el offcanvas */
.offcanvas {
  background-color: #153462 !important;
  color: #fff !important; /* Cambiar el color del texto a blanco */
}

.offcanvas-header {
  background-color: #153462 !important;
  color: #fff !important; /* Cambiar el color del texto a blanco */
}

.offcanvas-body {
  background-color: #153462 !important;
  color: #fff !important; /* Cambiar el color del texto a blanco */
}

/* Estilo para los elementos de la lista en el offcanvas */
.offcanvas-body .list-group-item {
  background-color: #153462; /* Mismo color que el fondo */
  color: #fff; /* Color del texto en blanco */
  border: none; /* Sin bordes */
}

.offcanvas-body .list-group-item:hover {
  background-color: #006BE6; /* Color diferente al pasar el mouse */
  color: #fff; /* Texto en blanco al pasar el mouse */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #006BE6;
  color: #fff;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #ffffff; /* Fondo blanco */
  z-index: 1000; /* Asegúrate de que la barra esté por encima de otros elementos */
}

.navbar-brand, .nav-link {
  color: #212529; /* Gris oscuro */
}

.nav-link:hover {
  color: #0d6efd; /* Azul intenso */
}

