<h1 mat-dialog-title>{{ data.isTimeout ? 'Tiempo agotado' : (data.isCorrect ? 'Respuesta correcta' : 'Respuesta incorrecta') }}</h1>
<div mat-dialog-content class="mat-typography">
  <p>
    {{ data.isTimeout 
      ? 'El tiempo ha concluido. Intente de nuevo. Presione el botón [Inicio] para intentarlo otra vez o presione [OK] para iniciar esta sección del sistema.' 
      : (data.isCorrect 
        ? 'Usted contó correctamente los objetos. Presione el botón [Inicio] para intentarlo de nuevo o presione [OK] para iniciar esta sección del sistema.' 
        : 'Intente de nuevo. Presione el botón [Inicio] para intentarlo otra vez o presione [OK] para iniciar esta sección del sistema.') 
    }}
  </p>
</div>
