<h2 mat-dialog-title>Ayuda | Conteo de figuras</h2>
<mat-dialog-content>
  <p>
    {{ data.isTimeout 
      ? 'El tiempo ha concluido. Intente de nuevo. Presione el botón [Inicio] para intentarlo otra vez o presione [OK] para iniciar esta sección del sistema.' 
      : (data.isCorrect 
        ? '¡Excelente! Usted contó correctamente los objetos. Presione el botón [Inicio] para intentarlo de nuevo o presione [OK] para iniciar esta sección del sistema.' 
        : 'Respuesta incorrecta, intente de nuevo. Presione el botón [Inicio] para intentarlo otra vez o presione [OK] para iniciar esta sección del sistema.') 
    }}
  </p>
</mat-dialog-content>
