<div class="outer-container"> 
  <div class="centered-card"> 
    <mat-card appearance="outlined"> 
      <div class="row">
        <div class="col-6">
          <mat-card-content>
            1. ¿Cuál es tu edad?
          </mat-card-content> 
        </div>
        <div class="col-6">
          <mat-slider min="0" max="100" step="5" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb>
          </mat-slider>
        </div>
      </div>
    </mat-card> 
  </div>
</div>



 