/* Estilo para la barra de navegación */
.mat-toolbar {
  background-color: #1648C7 !important;
}

.mat-toolbar .mat-icon-button,
.mat-toolbar .mat-icon,
.mat-toolbar .navbar-brand,
.mat-toolbar .example-spacer,
.mat-toolbar .person-icon,
.mat-toolbar span {
  color: #ffffff !important;  /* Cambiar el color de todos los elementos dentro de la barra de herramientas a blanco */
}

/* Estilo para el offcanvas */
.offcanvas {
  background-color: #153462 !important;
  color: #fff !important; /* Cambiar el color del texto a blanco */
}

.offcanvas-header {
  background-color: #153462 !important;
  color: #fff !important; /* Cambiar el color del texto a blanco */
}

.offcanvas-body {
  background-color: #153462 !important;
  color: #fff !important; /* Cambiar el color del texto a blanco */
}

/* Estilo para los elementos de la lista en el offcanvas */
.offcanvas-body .list-group-item {
  background-color: #153462; /* Mismo color que el fondo */
  color: #fff; /* Color del texto en blanco */
  border: none; /* Sin bordes */
}

.offcanvas-body .list-group-item:hover {
  background-color: #006BE6; /* Color diferente al pasar el mouse */
  color: #fff; /* Texto en blanco al pasar el mouse */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #006BE6;
  color: #fff;
}

.example-spacer {
  flex: 1 1 auto;
}
