<h2 mat-dialog-title>Ayuda | Creencias personales</h2>
<mat-dialog-content class="mat-typography">
  <p>Esta sección contiene una serie de enunciados. Lea cada uno y decida en
    qué grado está usted de acuerdo o en desacuerdo con cada uno de ellos.
    Utilice la escala de calificación que se presenta enseguida de cada
    enunciado; arrastre el marcador azul en la barra hasta el punto que se 
    relacione con su respuesta.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
