<h2 mat-dialog-title>Ayuda | Razonamiento Númerico</h2>
<mat-dialog-content class="mat-typography">
  <p>
    
    Esta sección del sistema le presenta una serie de números. Uno de los números no pertenece a una serie. Usted tiene que elegir cuál es ese número. 
    Haga click en el número que usted considere que no sigue la secuencia.  Para cambiar su respuesta haga click en otro número.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>