#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#10006b, #ad1fff);
    overflow: hidden;
  }
  
  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#10006b, #7965e7);
    overflow: hidden;
  }
  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  
  a {
    cursor: pointer;
    text-decoration: none; /* Opcional: para quitar el subrayado */
  }
  
  .success-icon {
    color: green;     /* Color verde de éxito */
}

.text-success {
    font-size: 1.5rem; /* Aumentar el tamaño del texto */
    text-align: center;
}
