<section class="align-items-center vh-100 d-flex">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">

            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Modulo<br />
                    <span style="color: hsl(218, 81%, 75%)">Sistema De Evaluacion De Habilidades</span>
                </h1>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <img src="\assets\logo_MSEH_V2.png"
                            class="card-img-top position-relative top-0 start-50 translate-middle-x mb-4" alt="..."
                            style="width: 30%;">
                        <div class="d-flex justify-content-center text-center">
                            <h1 class="display-5 ls-tight" style="color: hsl(0, 0%, 0%)">MSEH</h1>
                        </div>

                        <div class="container">
                            <!-- Formulario de reset password -->
                            <div *ngIf="!isSuccess && !isLoading">
                                <form (ngSubmit)="reset()">
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" class="form-control" [(ngModel)]="password"
                                            name="password" required />
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="passwordConfirmation" class="form-control"
                                            [(ngModel)]="passwordConfirmation" name="passwordConfirmation" required />
                                        <label class="form-label" for="passwordConfirmation">Confirm Password</label>
                                    </div>
                                    <!-- Mensaje de error -->
                                    <div *ngIf="errorMessage" class="alert alert-danger mb-4">
                                        {{ errorMessage }}
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Spinner -->
                            <div *ngIf="isLoading" class="d-flex justify-content-center">
                                <mat-spinner></mat-spinner>
                            </div>
                            <!-- Icono de confirmación -->
                            <div *ngIf="isSuccess" class="d-flex flex-column align-items-center">
                                <mat-icon class="success-icon">check_circle</mat-icon>
                                <p class="text-success mt-2">¡Contraseña restablecida exitosamente!</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>