<div class="outer-container">
  <div class="container-md">
    <div class="help-container" *ngIf="step < 4">
      <button mat-fab color="primary" aria-label="Help" (click)="openHelpDialog()"> 
        <mat-icon>help</mat-icon> 
      </button>
    </div>
    <div class="countdown-container" *ngIf="step < 4">
      <button class="btn btn-outline-info" (click)="toggleTimer()">
        {{ showTimer ? 'Off' : 'On' }}
      </button>
      <div class="countdown-timer" *ngIf="showTimer">
        {{ minutes }}:{{ seconds | number: '2.0' }} 
      </div>
    </div>
    <div *ngIf="step == 1">
      <app-pruebas></app-pruebas><br>
      <app-pruebas></app-pruebas><br>
      <app-pruebas></app-pruebas>
    </div>
    <div *ngIf="step == 2">
      <app-pruebas></app-pruebas><br>
      <app-pruebas></app-pruebas><br>
      <app-pruebas></app-pruebas>
    </div>
    <div *ngIf="step == 3">
      <app-pruebas></app-pruebas><br>
      <app-pruebas></app-pruebas><br>
      <app-pruebas></app-pruebas>
    </div>
    <div *ngIf="step == 4">
      Finalizado
    </div>
    <div class="buttons">
      <button *ngIf="step > 1 && step < 4" class="btn btn-primary" (click)="previousStep()">Anterior</button>
      <button *ngIf="step < 3" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
      <button *ngIf="step === 3" class="btn btn-primary" (click)="finish()">Final</button>
    </div>
  </div>
</div>
