<div class="row">
  <div class="col-12 col-md-8">
    <div class="img-container">
      <img *ngFor="let img of imagenesSerie" [src]="img" class="responsive-img" alt="Serie">
      <div class="respuesta-container">
        <img *ngIf="responseImage" [src]="responseImage" class="responsive-img" alt="Respuesta seleccionada">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="img-response-container">
      <img *ngFor="let img of imagenesRespuesta" [src]="img" class="responsive-img-small" alt="Respuesta" (click)="updateResponseImage(img)">
    </div>
  </div>
</div>
