<div class="contenedor-grid">
  <!-- Serie: 3 imagenes-->
  <div class="columna-serie">
    <div class="img-container">
      <img *ngFor="let img of imagenesSerie" [src]="img" class="responsive-img" alt="Imagen de la serie">
    </div>
  </div>
  <!-- Contenedor de la respuesta seleccionada y las opciones de respuesta -->
  <div class="columna-respuestas">
    <div class="respuesta-container">
      <img *ngIf="responseImage" [src]="responseImage" class="respuesta-img" alt="Respuesta seleccionada">
    </div>
    <div class="img-response-container">
      <img *ngFor="let img of imagenesRespuesta" [src]="img" class="responsive-img-small" alt="Opción de respuesta" (click)="updateResponseImage(img)">
    </div>
  </div>
</div>
