<div cdkDropListGroup class="row">
  <!-- Mostrar solo si los sliders están ocultos -->
  <div *ngIf="!showSliders" class="col-5 parrafo-container col-lg-5">
    <mat-card class="parrafo-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ question?.id }}</mat-card-title>
          <mat-card-subtitle>Lectura</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="col-12 paragraph" [innerHTML]="getFormattedParagraph()"></div>
        <mat-divider></mat-divider>
        <div class="col-12 situation">{{ question?.situation }}</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-7 col-lg-7">
    <div class="col-12 indication">
      <h5>{{ question?.indication }}</h5>
    </div>

    <div class="row">
      <div class="col-2 options-container">
        <!-- Cuadros de destino -->
        <div cdkDropList class="dropzone" *ngFor="let dropzone of dropzones; let i = index"
          [cdkDropListData]="dropzones[i]" (cdkDropListDropped)="drop($event)">

          <div class="box destination-box" cdkDrag [cdkDragDisabled]="disableDragDrop" *ngIf="dropzone.length > 0">
            <div class="box-content">{{ dropzone[0] }}</div>
          </div>
          <div class="box destination-box" *ngIf="dropzone.length === 0" (click)="assignNextNumber(i)">
            <div class="box-content">+</div> <!-- Indica que puedes hacer clic para agregar un número -->
          </div>

        </div>
      </div>

      <div class="col-10 options-container">
        <div class="option-list">
          <div *ngFor="let option of options" class="option-box">
            <div class="option-custom"></div>
            {{ option }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showSliders" class="customRangeContainer col-5 col-lg-5">
    <div class="custom-slider-container" *ngFor="let i of [1, 2, 3, 4]; let idx = index">
      <div class="custom-slider">
        <input type="range" class="custom-range" [value]="sliderValues[idx]" min="0" max="100" step="1"
          (input)="onSliderChange(idx, $event)" list="tickmarks" />
        <datalist id="tickmarks">
          <option value="0"></option>
          <option value="25"></option>
          <option value="50"></option>
          <option value="75"></option>
          <option value="100"></option>
        </datalist>
      </div>
      <div class="slider-labels-container">
        <div class="slider-labels">
          <span class="label" style="left: 0%;">Totalmente<br>desacuerdo</span>
          <span class="label" style="left: 25%;">En desacuerdo</span>
          <span class="label" style="left: 50%;">Neutro</span>
          <span class="label" style="left: 75%;">De acuerdo</span>
          <span class="label" style="left: 100%;">Totalmente de acuerdo</span>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 col-lg-12 number-container">
    <!-- Cuadros con números -->
    <div cdkDropList [cdkDropListData]="numeros" class="source-list" (cdkDropListDropped)="drop($event)">
      <div cdkDrag *ngFor="let numero of numeros" [ngClass]="getColorClass(numero)" class="box">
        {{ numero }}
      </div>
      <!-- Cuadro vacío disponible siempre -->
      <div class="box" *ngIf="numeros.length === 0">
        <div class="box-content">+</div> <!-- Indica que puedes hacer clic para devolver un número -->
      </div>
    </div>
  </div>
</div>