<h2 mat-dialog-title>Ayuda | Creencias personales</h2>
<mat-dialog-content class="mat-typography">
  <p>Esta sección tiene dos pantallas para cada pregunta. En la primera
    pantalla se le presenta una situación y cuatro posibles respuestas. Lea el
    texto a la izquierda que describe la situación y después, jerarquice las
    respuestas de la mejor (1) a la peor (4).</p>
    <p>Una vez que haya jerarquizado cada uno de los escenarios, es
        necesario que califique cada alternativa en términos de qué tan deseable
        es, utilizando la misma escala de la regleta de la sección anterior.</p>
</mat-dialog-content>
<mat-dialog-actions style="align-items: end;">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
