<head>
    <title>home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="https://contacrece.com/img/000_logoicon.svg" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Prueba de habilidades
        </a>


        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="ms-auto">
                <button (click)="logout()" type="summit" class="btn btn-outline-danger me-2" type="button">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </button>
            </form>
        </div>
    </div>
</nav>


<section class="background-radial-gradient overflow-hidden vh-100 d-flex align-items-center">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5 ">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-4 mb-5 mb-lg-0 position-absolute top-50 start-50 translate-middle">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass ">

                    <div class="card-body px-4 py-5 px-md-5 ">
                        <img src="https://contacrece.com/img/000_logoicon.svg"
                            class="card-img-top position-relative top-0 start-50 translate-middle-x mb-4" alt="..."
                            style="width: 25%;">

                        <h1>Bienvenido</h1>

                        <button type="button" class="btn btn-outline-info me-2" type="button">
                            Register
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>