.outer-container {
  position: relative;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 100px;
  transition: background-color 0.3s;
  margin: 0 2px; 
  flex-grow: 1; 
  flex-shrink: 1; 
  width: 70px; 
}

.selected {
  background-color: #d8bfd8;
}

.next-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
