<div class="centered-card">
  <mat-card appearance="outlined">
    <div class="row">
      <div class="col-12 col-md-4 question-container">
        <mat-card-content [innerHtml]="getFormattedQuestion()">
        </mat-card-content>
      </div>
      <div class="customRangeContainer col-12 col-md-8">
        <div class="custom-slider-container">
          <div class="custom-slider">
            <input
              type="range"
              class="custom-range"
              id="customRange"
              min="0"
              max="100"
              step="1"
              [value]="sliderValue"
              (input)="onSliderChange($event)"
              list="tickmarks"
            />
            <datalist id="tickmarks">
              <option value="0"></option>
              <option value="25"></option>
              <option value="50"></option>
              <option value="75"></option>
              <option value="100"></option>
            </datalist>
          </div>
          <div class="slider-labels-container">
            <div class="slider-labels">
              <span class="label" style="left: 0%;">Totalmente<br>desacuerdo</span>
              <span class="label" style="left: 25%;">En desacuerdo</span>
              <span class="label" style="left: 50%;">Neutro</span>
              <span class="label" style="left: 75%;">De acuerdo</span>
              <span class="label" style="left: 100%;">Totalmente deacuerdo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
