
    /* base se diseño para mantener el grid en las paginas */
 

  .container-md {
    max-width: 100%;
    overflow-x: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    /* Espacio para que no se superponga con la navbar */
  }
  
  .background-radial-gradient {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    /* Espacio para que no se superponga con la navbar */
  }

/* Anular la propiedad flex-direction para centrar verticalmente */
.mat-mdc-form-field {
  flex-direction: row !important;
  align-items: center; /* Asegúrate de que los elementos estén alineados verticalmente */
}

.chip-active {
  background-color: #000000;
}

.mat-chip {
  width: 50px;
}

