<section class="background-radial-gradient overflow-auto d-flex flex-column align-items-center min-vh-100">
  <div class="container-md mt-5">
    <div class="container">

      <div class="row align-items-center">
        <div class="col d-flex justify-content-start">
          <h3>
            <small class="text-body-secondary">Registro de aplicantes</small>
          </h3>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col">
          <div class="row align-items-center">
            <div class="col-md-auto">
              <small class="text-body-secondary">Filtros: </small>
            </div>
            <div class="col">
              <mat-chip-set class="d-flex align-items-center justify-content-center">
                <mat-chip *ngFor="let filter of filters"
                          [ngClass]="{'chip-active': filter.active}"
                          (click)="toggleFilter(filter)">
                  {{filter.name}}
                  <mat-icon matChipRemove *ngIf="filter.active" (click)="toggleFilter(filter)">cancel</mat-icon>
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center" style="height: 100%;">
          <mat-form-field appearance="outline" multiple>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search with keywords" [formControl]="searchControl">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      

      <div class="row" style="margin-top: 20px;">
        
        <mat-divider></mat-divider>

        <div class="col-3" *ngFor="let person of filteredPeople" style="margin-top: 10px; margin-bottom: 10px;">
          <app-cards-personas [id]="person.id" [nombre]="person.name_a"
            [apellidos]="person.surname_p + ' ' + person.surname_m" [email]="person.email_a"
            [currentEmployee]="person.employee" [lastUpdate]="person.updated_at">
          </app-cards-personas>
        </div>
      </div>
    </div>
  </div>
</section>
