

<<section class="background-radial-gradient overflow-hidden vh-100 d-flex align-items-center">
  <div class="container-md">
    <h3>
      <small class="text-body-secondary">Registro de aplicantes</small>
    </h3>
    <mat-form-field> <mat-label>Filter</mat-label> 
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input> 
    </mat-form-field> 
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="name_a">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name_a}} </td>
        </ng-container>
        <ng-container matColumnDef="surname_p">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido_Paterno </th>
          <td mat-cell *matCellDef="let element"> {{element.surname_p}} </td>
        </ng-container>
        <ng-container matColumnDef="surname_m">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido_Materno </th>
          <td mat-cell *matCellDef="let element"> {{element.surname_m}} </td>
        </ng-container>
        <ng-container matColumnDef="email_a">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email_a}} </td>
        </ng-container>
        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Calle </th>
          <td mat-cell *matCellDef="let element"> {{element.street}} </td>
        </ng-container>
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
          <td mat-cell *matCellDef="let element"> {{element.number}} </td>
        </ng-container>
        <ng-container matColumnDef="col">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Colonia </th>
          <td mat-cell *matCellDef="let element"> {{element.col}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>
        <ng-container matColumnDef="postal_code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo_Postal </th>
          <td mat-cell *matCellDef="let element"> {{element.postal_code}} </td>
        </ng-container>
        <ng-container matColumnDef="day_phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Télefono (Día) </th>
          <td mat-cell *matCellDef="let element"> {{element.day_phone}} </td>
        </ng-container>
        <ng-container matColumnDef="night_phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Télefono (Noche) </th>
          <td mat-cell *matCellDef="let element"> {{element.night_phone}} </td>
        </ng-container>
        <ng-container matColumnDef="b_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha_Nacimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.b_date}} </td>
        </ng-container>
        <ng-container matColumnDef="employee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado_Actual </th>
          <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
        </ng-container>
        <ng-container matColumnDef="former_employee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado_Antiguo </th>
          <td mat-cell *matCellDef="let element"> {{element.former_employee}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</section>